/*VARIABLES*/


:root {
    --border-radius:5px;
    --full-width: 100%;
    --half-width: 50%;
    --margin-top: 12px;
    --color: #bbbbbb;
  /* --border:1px solid red;*/
}
*::before
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Verdana', Courier, monospace;
    box-sizing: border-box;
}

html, body {
    width: var(--full-width);
    margin: 0 auto;
    padding: 3px;
    
}

img {
    max-width: var(--full-width);
    width: auto;
    height: auto;
}
img {
    max-width: 100%;
   
  } 


  body {
    position: relative;
    background-image: url(images/pawel.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0; 
    padding: 0; 
    z-index: -5;
    
}


h1 { 
    color: var(--color);
 }




 .new-release{
    text-align: center;
    color: rgb(187, 187, 187);
}



 
 /*--------------------------------------------HEADER-------------------------------*/
 .active {

    transition: all 0.3s ease-in-out;
    color: #eff637; 
    font-weight: bold;
   
}
 .logo {
    position:relative;
    left: 80px;
    bottom: 10spx;
    z-index: 3;
    max-width: 324px;
    border: var(--border);

 }
 header {
    position:relative;
     background-image: url(Images/Header-Background.jpg);
     background-size:cover;
     background-repeat: no-repeat;
     border-radius: var(--border-radius) ;
     max-width: 1440px;
     height: 214px;
     padding-top: 10px;
     margin-left: auto;
     margin-right: auto;
     border: var(--border);

     
 }

 header{
    color: #fff; 
    border: var(--border);
}
.squareyeslogo {
    position:absolute;
    left: px;
    z-index: 2;
    size: 100%;
    border: var(--border);
}

.Connecting{
   position: absolute;
   width: 1440px;
   height: 37px;
   left: 0px;
   top: 149px;
   background: rgba(24, 17, 82, 0.8);
   opacity: 0.8;
   z-index: 1;
   color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   border: var(--border);
   }
.connectinglovers {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    border: var(--border);
    color: rgb(187, 187, 187);
   

}
.hide{
    display:none;
    
}

/*------------------------------NAVIGATION----Mobil-------------------------*/


#menu-checkbox {
    float: right;
    border: var(--border);
}



nav,#menu-checkbox{
    display: none;
   
}

    
    

/*------------------------------NAV OLD-------Desktop------------------------*/
nav {
   
    position: absolute;
    z-index: 3;
    border-radius: var(--border-radius);
    padding: 1px;
    grid-template-columns: 1fr;
    background-color: #25205b;
    }

nav a {
    color: var(--color);
    text-decoration: none;
    padding:8px ;
    font-weight: bold;
    font-size:17px;
    z-index: 4;
    border: var(--border);
    margin: 40px;
    


}

 
 
@keyframes glowsexy {
    0% {
        box-shadow: 0 0 5px rgba(137, 43, 226, 0.296);
        background-color: rgba(137, 43, 226, 0.366);
    }
    50% {
        box-shadow: 0 0 50px rgba(137, 43, 226, 0.533); 
        background-color: rgba(137, 43, 226, 0.807);
    }
    100% {
        box-shadow: 0 0 5px rgba(137, 43, 226, 0.768);
        background-color: rgba(137, 43, 226, 0.331);
    }
}

nav a:hover {
    animation: glowsexy 1s infinite;
    color: white;
    border-radius: var(--border-radius);
    border: var(--border);
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid darkred;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  



 /*------------------------------------HERO----------------------------------*/
.HomeH2 {
    justify-content: center;
    display: block;
}

 .hero {
    background: linear-gradient(to right, #3328b045, #520ee442);
    max-width: 100%;
    max-width: 1440px;
    height: 464px;
    margin: var(--margin-top);
    border-radius: var(--border-radius);
    color: rgb(62, 34, 34);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 1px solid rgba(255, 0, 255, 0.548);
    border: var(--border);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-content: center;
    display: flex;
}

    

.purple {
    height: 380px;
    width: 250px;
    border-radius: var(--border-radius);
    border: 14px solid rgba(80, 11, 80, 0.615);
    position: relative;
    left: 0;
    top: 0;
    border: var(--border);
    margin: var(--margin-top);
}
.purple:hover{
    border: 1px solid rgba(145, 30, 145, 0);
    
}

.hero-video {
    margin: var(--margin-top);
    position: relative;
    max-width: 50.9em;
    max-height: 27.5em;
    border-radius: var(--border-radius);
    border: var(--border);
    }

  /*----------------------------------TRENDING---------------------------------*/
 .trending {
     background: conic-gradient(from 180deg at 50% 50%, rgba(74, 142, 157, 0.53) -179.77deg,
    #4a8e9d78 156.82deg, rgba(74, 142, 157, 0.53) 180.23deg, #4a8e9d78 516.82deg);
     width: 1440px;
     max-width: 100%;
     height: 484px;
     left: 70px;
     top: 804px;
     border-radius: var(--border-radius) ;
    
     margin-left: auto;
     margin-right: auto; 
     color: rgb(62, 34, 34);
     align-items: center;
     display: flex;
     justify-content: space-around;
  
   
 }


 .justereHOME{
    margin: 20px;
    border-radius: var(--border-radius) ;
    border: 12px solid #699D9A;
    
   
 }

/*---------------------------------Collection---CATEGORIES------------------------*/

.equalspace {
  display: flex;
  grid-template-rows: 1fr ;
  grid-gap: 10px;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  margin-top: var(--margin-top);
  border: var(--border);

}
.overlay {
    background-color: rgba(29, 29, 29, 0.508);
    height: 100%;
    z-index: 3;
    border-radius: var(--border-radius);
    transition: background-color 0.3s;
}


.overlay:hover {
    animation: pulsater 1s infinite alternate; 
}


@keyframes pulsater {
    0% {
        background-color: rgba(29, 29, 29, 0.158);
    }
    100% {
        background-color: rgba(29, 29, 29, 0.731);
    }
}


.collections {
    background-image: url(images/Collections.jpg);
    background-color: rgba(128, 128, 128, 0.48);
    height: 170px;
    width: 715px;
    background-size: cover;
    border-radius: var(--border-radius) ;
    border: var(--border);
    
}


.categories {
    background-image: url(images/Categories.jpg);
    
    height: 170px;
    width: 715px;
    background-size: cover;
    border-radius: var(--border-radius) ;
    border: var(--border);
  
}
.h3_text{
   color: rgb(255, 249, 249);
   font-weight: bold;
   text-decoration: none;
   display: flex;
   justify-content: center;
   font-size: 35px;
   border: var(--border);
   position: relative;
   top: 58px;

 }
 .moviecontainer {
   
    background: linear-gradient(to right, #3328b045, #520ee442);
    width: 1440px;
    height: 520px;
    max-width: 100%;
    left: 70px;
    top: 331px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: var(--border-radius);
    margin-top: var(--margin-top);
    justify-content: center;
    display: flex;
 
}
.list_container{
    opacity: 100%;
    top: 28px;
    position: relative;
    gap: 1em;
    max-width: 1540px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 15em;
}
.indexmovies{
    height:330px;
    width: 200px;;
}

.cardindex {
    aspect-ratio: 1 / 1;
    height: 360px;
    width: 200px;
 
}
 /*----------------------------------SUBSCRIBE-BUTTON-----------------------------*/
.flex {
    display: flex;
    justify-content: center;
    margin-top: var(--margin-top);
    border: var(--border);
}
.full-width {
    width: 100%;
    border: var(--border);
}   


.btn {
    width: 1440px;
    border-radius: var(--border-radius) ;
    height: 80px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    border: var(--border);
  
}
.bg-red {
    background-color: rgb(2, 146, 86);
}
.bg-red:hover {
    animation: subcribepulsate 1s infinite alternate;
}


.bg-purp {
    background-color: rgb(0 72 23 / 73%);
    transition: background-color 0.15s ease-in-out; 
}


.bg-purp:hover {
    animation: subcribepulsate 1s infinite alternate;
}


@keyframes subcribepulsate {
    0% {
        background-color: rgb(0 72 23 / 73%);
    }
    100% {
        background-color: rgba(122, 226, 43, 0.809); 
    }
}

.titlebtn {
    padding: 20px;
}

 /*--------------------------------------FOOTER-------------------------------------*/

.footer_list{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    font-size: 33px;
    color: #ffffff;
    border: var(--border);
    top: 97px;
 

}
.footerhover {
   border-radius: 5px;
}


@keyframes footglow {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.294);
    }
    100% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
}
.footerhover:hover {
    animation: footglow 0.12s infinite; 
}


.footer_paragraph {
    position: absolute;
    font-size: 12px;
    left: 20px;
    top: 122px;
    padding: px;
}


 .footer {
     position:relative;
     background: linear-gradient(to right, #3328b0, #520ee4cc);
     width: min(100%,1440px);
     
     height: 144px;
     margin-left: auto;
     margin-right: auto;
     margin-top: var(--margin-top);
     border-radius: var(--border-radius) ;
     color: rgb(255, 255, 255);
     border: var(--border);
}
.fa-brands, .fab {
    font-weight: 400;
    color: white;
}
 /* Movies--------------------------------------------------------------- */ 
 /* Movies--------------------------------------------------------------- */ 
 /* Movies--------------------------------------------------------------- */ 
 /* Movies--------------------------------------------------------------- */ 

 .container {
    top: 0px;
    justify-content: center;
    display: flex;
    position: relative;
    background: linear-gradient(to right, #3328b045, #520ee442);
    width:min(100%,1440px);
    height: 1490px;
    margin: auto;
    margin-top: 12px;
    border-radius: 5px;
}
.products{
    opacity: 100%;
    top: 200px;
    position: relative;
    gap: 2em;
    max-width: 1540px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 1em;
    text-decoration: none;
}


.stacked {
display: grid;
}
.stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
} 
.card__content{
    z-index: 10;
    background: #141111ab;
    align-self: end;
    margin:7px 10px 13px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;

}
.card__title {
    font-size: 16px;
    color: var(--color);
    text-decoration: none;
}

.card__price {
    font-size: 12px;
    color: var(--color);
    text-decoration: none;
}
.card_description{
    color: var(--color);
text-decoration: none;
}

.product_grid{
    opacity: 100%;
    top: 28px;
    position: relative;
    gap: 1em;
    max-width: 1540px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 15em;
}
.moviecard {
    width: 100%;
    margin: auto;
    height: 450px;
    background-color: #608484b5;
    box-shadow: 3px 3px 5px 1px;
    top: 0px;
    position: relative;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 30%;
    justify-content: center;
    transition: background-color 0.3s, opacity 0.3s;
}


.moviecard:hover {
    background-color: #000; 
    opacity: 0.8; 
    animation: pulsate 1s infinite alternate; 
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 5px rgba(137, 43, 226, 0.296);
        background-color: rgba(137, 43, 226, 0.366);
    }
    50% {
        box-shadow: 0 0 50px rgba(137, 43, 226, 0.533);
        background-color: rgba(137, 43, 226, 0.807);
    }
    100% {
        box-shadow: 0 0 5px rgba(137, 43, 226, 0.768);
        background-color: rgba(137, 43, 226, 0.331);
    }
}
.card {
    aspect-ratio: 1 / 1;
    height: 360px;
    width: 200px;
 
}
.card__picture{
    height: 380px;
    width: 250px;
    border-radius: 5px;
    margin-top: 6px;
    z-index: 100;
}


.card__picture:hover{
   border: 2px solid rgba(52, 52, 52, 0) ;
   
 
}


 
 /* Checkout ---------------------------------------------------------- */
 /* Checkout ---------------------------------------------------------- */
 /* Checkout ---------------------------------------------------------- */
 /* Checkout ---------------------------------------------------------- */
 
 .checkout_form{
    top: 2em;
    position: relative;
    justify-content: center;
    display: flex;
    margin: auto;
    width: 1200px;
    height: 570px;
    background-color: #000000b6;
    box-shadow: 3px 3px 5px 1px;
    position: relative;
    border-radius: 5px;
    display: block;

 }
 
 .Backgroundmovieset {
    background-color: #25205bc4;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width:min(100%,1440px);
    height: 949px;
    max-width: 100%;
    margin-top: var(--margin-top);
    border-radius: var(--border-radius);
    color: rgba(163, 33, 33, 0.446);
    justify-content: center;
    display: flex;
}

.Yourdetails {

 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    top: 0;
    
    border-radius: var(--border-radius);
}
.form__input{  
 display: flex;
 max-width: 1440px;
 }
 .fieldsetcheckout {
    margin: 0em 0;
    padding: 1em 3em;
    border: solid 1px #5a5d9d00;
    border-radius: 5px;
    min-width: 100%;
    margin:auto
  
  }
  .btncheckout {
    position: relative;
    left: 863px;
    top: -143px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    border-radius: var(--border-radius);
}
legend{
    margin: 0em 0;
    padding: 1em 3em;
    border: solid 1px #5a5d9d00;
    border-radius: 5px;
    min-width: 100%;
    margin: auto;
}

 
 /* ABOUT US----------------------------------------------------------- */
 /* ABOUT US----------------------------------------------------------- */
 /* ABOUT US----------------------------------------------------------- */
 /* ABOUT US----------------------------------------------------------- */
 .curtains {
        background-image:url(Images/about-us.jpg) ;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: min(100%,1440px);
        height: 949px;
        max-width: 100%;
        margin-top: var(--margin-top);
        border-radius: var(--border-radius);
        justify-content: center;
        display: flex;
        
    }

 .Aboutparagraph {
    position: absolute;
    color:  rgb(187, 187, 187);
    max-width: 1000px;
    top: 214px;
    z-index: 3;
    background-color: #000000d5;
    width: 75%;
    border-radius: 5px;
    padding: 12px;
    font-size: 20px;

 }
 .aboutus-h2 {
    position: absolute;
    color: rgb(187, 187, 187);
    max-width: 460px;
    font-size: 46px;
    z-index: 4;
    top: 45px;


 }

 
 /* CONTACT--------------------------------------------------------*/
 /* CONTACT--------------------------------------------------------*/
 /* CONTACT--------------------------------------------------------*/
 /* CONTACT--------------------------------------------------------*/
 .feilset {
  position: absolute;
 }

 .curtainscontact {
  
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: min(100%,1440px)
;    height: 949px;
    max-width: 100%;
    margin-top: var(--margin-top);
    border-radius: var(--border-radius);
 }
 .h1 {
    text-align: center;
    top: 0.3em;
    position: relative;
    color: var(--color);
  }
  .section{
    bottom: 1.2em;
      position: relative;
  }
  
  .contact-container {
    top: 2em;
    position: relative;
    justify-content: center;
    display: flex;
    margin: auto;
    width: 1200px;
    height: 570px;
    background-color: #00000057;
    box-shadow: 3px 3px 5px 1px;

    position: relative;
    border-radius: 5px;
    display: block;
    align-items: center;
  }
  .divider {
    grid-template-columns: 50% 50%;
    display: grid;
    top: 5em;
    position: relative;
  }
  
  .fieldset {
    margin: 0em 0;
    padding: 1em 3em;
    border: solid 1px #5a5d9d00;
    border-radius: 5px;
    min-width: 40%;
    margin:auto
  
  }
  .legend {
    font-size: 1.25em;
    padding: 0.25em;
    color: var(--color);
  }
  
  .contact-form {
    display: block;
    margin-right: 15em;
  
  }
  .contact-form #name #email #subject #message {
    margin: 2em;
  }
  
  .form {
    display: block;
    margin-top: 1em;
    color: var(--color);
    
  }
  
  .form:first-of-type {
    margin-top: -1em;
    
    
  }
  
  .input{
    padding: 0.5em;
    border:solid 1px #999;
    border-radius: 5px;
    
  }
  .input[type="email"], input[type="text"]{
  width: 15em;
  background-color: var(--color);
  }
  .textarea{
    min-height: 8em;
    min-width: 100%;
    padding:0.5em;
    border: solid 1px #999;
    border-radius: 5px;
    background-color: var(--color);
  }
  
  .Submitbtn{
     padding: .5em 1em;
     border-radius: 5px;
     background-color:var(--font-color);
     color: var(--color);
   
  }
  
  
  .modularsynth {
    width: 550px;
    height: 369px;
    border-radius: 5px;
    margin: 0px;
  }
  
 /*-------------------------------PRODUCTPAGES-------------------*/
 /*-------------------------------PRODUCTPAGES-------------------*/
 /*-------------------------------PRODUCTPAGES-------------------*/
 /*-------------------------------PRODUCTPAGES-------------------*/


.DUNEPICture {
    position: absolute;
    left: 50px;
    top: 80px;
   
}
.product-img {
    height: 360px;
    width: 260px;
    border: 12px solid #699D9A;
    border-radius: var(--border-radius);

}

.purchase {
    position: relative;
    top: 17px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    left: 0;
}

 .Synopsis {
    position: relative;
    max-width: 300px;
    color: #fff;
    left: 330px;
    top:110px;
    background-color: #252424df;
    border-radius: var(--border-radius);
    padding: 5px;
 }
 .Backbtn {
    color: var(--color);
    text-decoration: none;
    padding:8px ;
    font-weight: bold;
    font-size:17px;
    z-index: 4;
    border: var(--border);
    margin: 4px;
    border-radius: 5px;
    background-color: rgba(67, 67, 67, 0.224);
}

.Backbtn:hover{
    animation: glowsexy 1s infinite;
    color: white;
    border-radius: var(--border-radius);
    border: var(--border);
 
}


 /*----------------------------PurchaseSuccess------------------------*/
 /*----------------------------PurchaseSuccess------------------------*/
 /*----------------------------PurchaseSuccess------------------------*/
 /*----------------------------PurchaseSuccess------------------------*/


.PurchaseSuccess {
    background-image: url(images/Curtains.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    height: 749px;
    max-width: 100%;
    margin-top: var(--margin-top);
    border-radius: var(--border-radius);
    color: white;


}
.Successbutton {
    position: absolute;
    left: 660px
;
    top: 410px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 10px;
    border-radius: 50px;
    background-color: rgb(98, 163, 0);
    border: 2px black;
}

.PurchaseSuccessbtn {
    position: absolute;
    left: 595px;
    top: 265px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 30px 60px;
    border-radius: 5px;
    background-color: rgb(18, 150, 0);
    border: 2px black;
}

.Success {
    position: relative;
}



/*--------------UNDERCONSTRUCTION-------------------------------*/
/*--------------UNDERCONSTRUCTION-------------------------------*/
/*--------------UNDERCONSTRUCTION-------------------------------*/
/*--------------UNDERCONSTRUCTION-------------------------------*/

.under-constructiom-images {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 40%;
    margin-top: var(--margin-top);


}
.under-construction-text {
    position:absolute;
    font-size: 50px;
    font-weight: bold;
    color: #fff;
  left: 500px;
 bottom: 400px; ;
}
.main_collections {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: var(--border-radius);
    margin-top: var(--margin-top);
    }
    .collections_construction {
        background-image: url(images/Collections.jpg);
        background-size:cover ;
    }










/*--------------------------------product-details------------------------*/




.product_preview {
    height: 900px;
    width: min(100%,1440px);
    justify-content: center;
    display: flex;
}


.detail__title{
    color: var(--color);
    text-decoration: none;
}

.discriptiv_text{
    color: var(--color);
    text-decoration: none;
    width: 100%;
}

.Prod_Back_aliens {
    justify-content: center;
    display: block;
    width: min(1440px,100%);
    margin: auto;
    background: linear-gradient(to right, #3328b045, #520ee442);
    --border-radius: 5px;
    height: 1040px;
    margin-top:12px;
}

.card_descript{
    display: block;
}
.card_detail {
    justify-content: center;
    display: flex;
}
.product__picture{
    height: 450px;
    width: 290px;
    border-radius: 5px;

    position: relative;
}

.product_card{
background-color: rgba(13, 1, 29, 0.737);
grid-template-columns: repeat(2, 1fr);
display: grid;
justify-content: center;
width: 80%;
height: 60%;
align-items: center;
border-radius: 5px;
}
.card_info {
  
    position: relative;
}












/*--------------------------MEDIA-QUERIES-------------------*/
/*--------------------------MEDIA-QUERIES-------------------*/
/*--------------------------MEDIA-QUERIES-------------------*/
/*--------------------------MEDIA-QUERIES-------------------*/
/*--------------------------MEDIA-QUERIES-------------------*/

@MEDIA (min-width:1440px) {
    .footer {
    max-width: 100%;
    }
}



@media (max-width: 1301px){
    nav a {
        margin: 10px;
    }
}

@media (max-width: 1218px){
    .hero-video {
        max-width: 614px;
        max-height: 300px;
       }
    }


@media (max-width: 968px){
    .hero-video {
       
        max-width: 514px;
        max-height: 250px;
      
        }

    }
  
 
    /*------------------900PX-down---------------------------*/
@media (max-width: 900px) {
  
    .logo {
        max-width: 224px;
    }
        .h3_text{
        font-size: 20px;
 
    }
      .hero-video {
        display: none;
    }
    .card {
     
        height: 300px;
        width: 200px;
    }
    .Prod_Back_Dune {
        background-image: url(images/DUNE\ BACKGROUND.png);
        background-repeat: no-repeat;
    }
  
    .btncheckout {
        position: relative;
        left: 138px;
        top: px;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        padding: 10px;
        border-radius: var(--border-radius);
    }
} 
@media (max-width: 901px) {
    .aboutus-h2 {
        top: 6px;
 
       
    }
    .Aboutparagraph {
        position: relative;
        color: rgb(187, 187, 187);
        max-width: 460px;
        top: 48px;
        left: 0px;
        z-index: 3;
        margin: 15px;
        background-color: #000000db;
        font-size: 12px;
        width: 85%;
        height: 552px;
    }
}  

  @media (min-width: 901px) {
        nav {
        display: flex;
        position: absolute;
        z-index: 3;
        border-radius: var(--border-radius);
  
        background-color: #25205b00;
        opacity: 0.9;
        top: 88px;
        left: 476px;
        
        
    }
    .fas {
        position: relative;
        float: left;
        font-size: 24px;
        left: 20px;
        border: var(--border);
        display: none;
    
    }
}
/*-----------------------------900px-DOWN-----------------------------*/
@media (max-width: 900px) {
nav {
    bottom: 0px;
    position: relative;
    z-index: 10;
    border-radius: var(--border-radius);
    padding: 0px;
    background-color: #25205b;
    top: 6px;
}
    
    nav a{
        display: block;
    }

    #menu-checkbox {
        float: right;
        border: var(--border);
    }
    .fas {
        position: relative;
        float: left;
        font-size: 24px;
        left: 20px;
        border: var(--border);
      
    }
    
    #menu-checkbox:checked ~ nav {
        display: block;
        
    }
    nav,#menu-checkbox{
        display: none;
       
    }
    .Connecting {
        position: absolute;
        width: 100%;
        height: 13px;
        left: 0px;
        top: 107px;
        background: rgba(24, 17, 82, 0.8);
        opacity: 0.8;
        z-index: 1;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border: var(--border);
    }
        
        

        .contact_details{
            position: absolute;
    
            left: 160px;
            top: 105px;
            background-color: #5f5e68;
            border-radius: var(--border-radius) ;
            color: white;   
            max-width: 170px;
        }
        .message_box {
            position: absolute;
            width: 278px;
            height: 173px;
            left: 66px;
            top: 636px;
            color: white;
            font-size: 12px;
            font-weight: bold;
            background: #ce3dbb87;
            border-radius: 10px;
        }
        .Prod_Back_aliens {
            justify-content: center;
            display: flex;
            background-size: cover;
            height: 600px;
        }
        .DUNEPICture {
         position: absolute;
         left: 30px;
         top: 380px;
        }
  
        .purchase {
            position: relative;
            left: -4px;
            top: 16px;
        }
        .card_info {
            top: 4.5em;
            position: relative;
        } 
        .Synopsis {
        
            left: 30px;
            top:90px
         }
         .product-img {
            height: 310px;
            width: 210px;}

        .contact_information {
                left: 66px;
                top: 444px;
           
            }

        .PurchaseSuccessbtn {
                position: absolute;
                left: 67px;
                top: 224px;
            }

        .Successbutton {
                    position: absolute;
                    left: 131px;
                    top: 360px;
                }
        .PurchaseSuccess {
                        background-image:  url(images/thin-dark-purple-lines-ronsm3ciz7dw4kuz\ copy\ Medium.jpeg);
            }
        
        }
@media (max-width: 393px) {
    header {
        position: relative;
        background-image: url(Images/Header-Background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: var(--border-radius);
        max-width: 1440px;
        height: 133px;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        border: var(--border);
    }

    .footer_list {

    }
    .moviecontainer {
        background: linear-gradient(to right, #5e57af45, #336dff3f);
        width: 100%;
        height: 696px;
        max-width: 100%;
        left: 70px;
        top: 331px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border-radius: var(--border-radius);
        margin-top: var(--margin-top);
        justify-content: center;
        display: flex;
    }

    .list_container {
      
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        top: 6px;
        grid-gap: 20px;
    }

    .footer {
        position: relative;
        background: linear-gradient(to right, #5e57af, #336dff86);
        width: 100%;
        height: 144px;
        margin-left: auto;
        margin-right: auto;
        margin-top: var(--margin-top);
        border-radius: var(--border-radius);
        color: rgb(255, 255, 255);
        border: var(--border);
    }
    .footer_paragraph {
        position: absolute;
        font-size: 9px;
        left: 20px;
        top: 122px;
        padding: px;
    }
    .footer_list {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        grid-gap: 30px;
        font-size: 33px;
        color: #ffffff;
        border: var(--border);
        top: 8px;
    }
    .card__picture {
        height: 210px;
        width: 150px;
        border-radius: 5px;
     
    }    
   
 
    
    .product_grid {
        opacity: 100%;
        top: 6px;
        position: relative;
        gap: 0em;
        max-width: 388px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0px;
        margin-bottom: 1em;
    }
    .container {
        top: 0px;
        justify-content: center;
        display: flex;
        position: relative;
        background: linear-gradient(to right, #5e57af45, #336dff3f);
        width: 100%;
        height: 1553px;
        margin: auto;
        margin-top: 12px;
        border-radius: 5px;
    }
    .moviecard{
        width: 92%;
        margin: auto;
        height: 295px;
        background-color: #608484b5;
        box-shadow: 3px 3px 5px 1px;
        top: 0px;
        position: relative;
        border-radius: 5px;
        display: grid;
        grid-template-rows: 99%;
        justify-content: center;
    }
    .curtains {
      
        justify-content: center;
        display: flex;
        height: 640px;
    }
    .curtainscontact {
       
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: min(100%,1440px);
        height: 749px;
        max-width: 100%;
        margin-top: var(--margin-top);
        border-radius: var(--border-radius);
       
    }
    .contactpicture{
        display:none;
    }
    .contact-container {
        top: 2em;
        position: relative;
        justify-content: center;
        display: flex;
        margin: auto;
        width: 85%;
        height: 570px;
        background-color: #80008073;
        box-shadow: 3px 3px 5px 1px;
        position: relative;
        border-radius: 5px;
        display: block;
        align-items: center;
    }


    .fieldsetcheckout{
        
        margin: 0em 0;
        padding: 2px;
        border: solid 1px #5a5d9d00;
        border-radius: 5px;
        min-width: 50%;
        margin: auto;
        left: 0px;
        position: relative;
        top: -96px;
          
          }
          .Yourdetails{
            position: relative;
            justify-content: center;
            align-content: er;
            display: flex;
       
            left: 0px;
            top: 106px;
            background-color: #205b2300;
            border-radius: var(--border-radius);

          }
          .Backgroundmovieset {
            background-color: #25205bc4;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            width:min(100%,1440px);
            height: 949px;
            max-width: 100%;
            margin-top: var(--margin-top);
            border-radius: var(--border-radius);
            color: rgba(163, 33, 33, 0.446);
            justify-content: center;
            display: flex;
        }
        .product_preview {
            height: 499px;
            width: min(100%,1440px);
            justify-content: center;
            display: flex;
        }
    
            .product__picture {
                height: 260px;
                width: 160px;
                border-radius: 5px;
                top: 4.6em;
                position: relative;
            }
            .product_card {
                background-color: rgba(13, 1, 29, 0);
                grid-template-columns: repeat(2, 1fr);
                display: grid;
                justify-content: center;
                grid-gap:1em;
            align-items: unset;
            }
            .Backbtn {
                color: var(--color);
                text-decoration: none;
                padding: 8px;
                font-weight: bold;
                font-size: 17px;
                z-index: 4;
                border: var(--border);
                margin-left: 10px;
                border-radius: 5px;
                background-color: rgba(67, 67, 67, 0.224);
                position: absolute;
                top: 146px;
            }
            .discriptiv_text {
                color: var(--color);
                text-decoration: none;
                width: 100%;
                font-size: 12px;
            }
            h2{
                font-size: 14px;
            }
            .detail__title {
                color: var(--color);
                text-decoration: none;
                font-size: 12px;
                font-weight: 700;
            }
        }



    


